/*Palette de couleurs :
#18534F
#226D68
#ECF8F6
#FEEAA1
#D6955B
 */

.background_droite{
    -fx-background-color: #36393F;
}

.background_gauche{
    -fx-background-color: #202225;
}

.item_tournois{
    -fx-background-color: #202225;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-text-fill: #ECF8F6;
}

.button{
    -fx-background-color: #18191C;
    -fx-background-radius: 15px;
    -fx-text-fill: #84868B;
}

.button:hover{
    -fx-background-color: #42464D;
    -fx-text-fill: #FFFFFF;
}

.button_menu{
    -fx-background-color: #18191C;
    -fx-background-radius: 15px;
    -fx-text-fill:#84868B;
}

.button_menu:hover{
    -fx-background-color: #42464D;
    -fx-text-fill: #FFFFFF;
}

.texte{
    -fx-text-fill: white;
    -fx-stroke: white;
}
.line{
    -fx-stroke: #18191C;
}