.background_droite{
    -fx-background-color: #36393F;
}

.background_gauche{
    -fx-background-color: #202225;
}

.item_tournois{
    -fx-background-color: #202225;
    -fx-background-radius: 10px;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-text-fill: #ECF8F6;
}

.button{
    -fx-background-color: #18191C;
    -fx-background-radius: 15px;
    -fx-text-fill: #FFFFFF;
}

.button:hover{
    -fx-background-color: #42464D;
}

.button_menu{
    -fx-background-color: #18191C;
    -fx-background-radius: 15px;
    -fx-text-fill:#84868B;
}

.button_menu:hover{
    -fx-background-color: #42464D;
    -fx-text-fill: #FFFFFF;
}

.texte{
    -fx-text-fill: white;
    -fx-stroke: white;
}
.line{
    -fx-stroke: #18191C;
}

.scrollPane{
    -fx-border-color:derive(gray,80%);
    -fx-background-color: #42464D;
}

.scrollPane .scroll-bar:horizontal,
.scrollPane .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scrollPane .scroll-bar .thumb:hover,
.scrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(#18191C,50%);
}

.scrollPane .increment-button ,
.scrollPane .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color:derive(transparent,80%);
    -fx-padding:4px;
}

.scrollPane .scroll-bar:horizontal .track,
.scrollPane .scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color:derive(transparent,80%);
    -fx-background-radius: 2em;
    -fx-border-radius:2em;
}

.scrollPane .scroll-bar:horizontal .thumb,
.scrollPane .scroll-bar:vertical .thumb {
    -fx-background-color:derive(#18191C,80%);
    -fx-background-insets: 2, 0, 0;
}
.scrollPane .scroll-bar .thumb:hover,
.scrollPane .scroll-bar .thumb:pressed{
    -fx-background-color: derive(#18191C,100%);
}